body{
    text-align: center;

}
#secA{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2WxgLDjrGphRaVUeaff7d_weDuXQOEwGhfA&usqp=CAU");
    background-repeat: no-repeat;
    margin-top: 0%;
    background-size:2000px 400px;
   
}
.player{
    width:100px;
    height: 100px;;
}
.div1{

    font-size: 20px;
    font-family: 'Courgette', cursive;
    color:white;
}
.image{
    
    width:700px;
    height:300px;

}
.para{
    font-family: 'Rancho', cursive;
font-weight: bold;
color:black;
font-size: 30px;
}
h1{
    font-family: 'Potta One', cursive
}
#video{
    background-color: white;
    font-size: 20px;
    height: 300px;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;

}
.topnav {
	overflow: hidden;
	background-color:white;
    position:sticky;
	top: 0;
    width: 100%;
  }
  .topnav a {
	float: left;
	color:black;
  font-weight: bold;
  font-family: 'Architects Daughter', cursive;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
  }
  .topnav a:hover {
	background-color: #bbb;
	color: black;
  }
  #contact{
    
    font-size: 20px;
    font-family: 'Hina Mincho', serif;
    background-color: #1E3163;
     color: white;
 }